<%= form_for @player, html: { class: "form-horizontal login-form" } do |f| %>
<div class='form-group login-text text-center'>
  <div class='col-sm-12'>
    <%=  f.text_field :name, class: 'login-bar login-border', placeholder: 'Username' %>
  </div>
  <div class='col-sm-12'>
    <%=  f.email_field :email, class: 'login-bar login-border', placeholder: 'Email' %>
  </div>
  <div class='col-sm-12'>
    <%=  f.password_field :password, class: 'login-bar login-border', placeholder: 'Password'%>
  </div>
  <div class='col-sm-12'>
    <%=  f.password_field :password_confirmation, class: 'login-bar login-border', placeholder: 'Confirm Password'%>
  </div>
</div>
<div class='form-group'>
  <div class='col-sm-12 text-center' id='login-buttons'>
    <%=  f.submit class:'btn btn-default create-player-button login-bar' %>
  </div>
</div>
<% end %>