<!DOCTYPE html>
<html>
<head>
  <title>chop/op</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'application', 'http://fonts.googleapis.com/css?family=Josefin+Sans|Titillium+Web:900' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <header class='main-header'>chop/op</header>

<%= yield %>

</body>
</html>
