<!DOCTYPE html>
<html>
<head>
  <title>chop/op</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'application', 'http://fonts.googleapis.com/css?family=Josefin+Sans|Sanchez|Titillium+Web:900' %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if @current_user %>
  <%= render 'layouts/nav' %>
  <%= render 'layouts/flash' %>
<% else %>
  <div id="login-carousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="active item one"></div>
      <div class="item two"></div>
    </div>
  </div>
  <div class='login-div'>chop <i class="fa fa-bolt"></i>op</div>
<% end %>

<div class="page-content">
  <%= yield %>
</div>

</body>
</html>
